* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  }

body {
  font-family: Arial, sans-serif;
  background-color: #dfd0d0;
  line-height: 1.2;
  color: #333;
  padding: 30px;
  }
.audio{
  font-family: Arial, sans-serif;
  background-color: #dfd0d0;
  line-height: 1.6;
  color: #110f0f;
  margin-top: 25px; 
}
.video{
  font-family: Arial, sans-serif;
  background-color: #dfd0d0;
  line-height: 1.6;
  color: #110f0f;
  margin-top: 25px; 
  width: 50%;
}
header {
  background-color: #1675d4;
  padding: 1rem 0;
  width:100%;
  top: 0;
  left: 0;
  position:fixed;
  }

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: rgb(34, 235, 208);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  margin-top: 150px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #090d11;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  }
.cards1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 900px;
  }


.card {
  display: grid;
  background: white;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 25px;
}

.card h2 {
  color: #2980b9;
  margin-bottom: 0.5rem;
}

.card p {
  margin-bottom: 1rem;
  }

.card audio{
  width: 100%;
  margin-top: 3rem;
  font-size: 20px;
}

.card video {
  width: 70%;
  margin-top: 3rem;
  font-size: 20px;
}

footer {
  background-color: #1675d4;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 12px;
  width:100%;
  
}

.card a {
  color: #040e14;
  text-decoration: none;
}

.card a:hover {
  color: rgb(34, 235, 208);
}